
* {
    margin: 0;
    padding: 0;
}

.container-1 {
    position: relative;
    display: flex;
    background-color: #ED4C5C;
    width: 1440px;
    height: 500px;
    font-family: 'Lato', sans-serif;
}

.wrapper-text {
    width: 445px;
    height: 195px;
    margin: 122px 81px 0 165px;
}

.wrapper-text>h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    line-height: 43px;
}

.wrapper-text>p {
    text-align: justify;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

#vector-1 {
    position: absolute;
    margin: 43px 40px 114px 160px;
}

#vector-2 {
    position: absolute;
    margin: 43px 40px 114px 220px;
}

#vector-3 {
    position: absolute;
    margin: 43px 40px 114px 278px ;
}

#img-1{
    position: absolute;
    top: 116px;
    opacity: 0.5;
    border-radius: 15px;
    color: #C4C4C4;
}

#img-2 {
    position: absolute;
    opacity: 0.5;
    border-radius: 15px;
    top: 116px;
    left: 841px;
    color: #C4C4C4;
}

#img-3 {
    position: absolute;
    left: 735px;
    top: 94px;
    border-radius: 15px;
}

.container-2 {
    width: 1440px;
    height: 500px;
    color: #fff;
}

.contact-h2 {
    position: absolute;
    width: 445px;
    height: 107px;
    margin: 117px 114px 0 176px;
    color: #000000;
    font-weight: 600;
    font-size: 26px;

}

.container-2-paragraph {
    position: absolute;
    width: 435px;
    height: 65px;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin: 213px 125px 0 176px;
}

.first-name {
    position: absolute;
    width: 200px;
    height: 50px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 117px 20px 0 735px;
    text-align: center;
    background-color: #FFFFFF;
}

.last-name {
    position: absolute;
    width: 200px;
    height: 50px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 117px 165px 0 950px;
    text-align: center;
    background-color: #FFFFFF;
}

.phone-number {
    position: absolute;
    width:417px;
    height: 50px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 200px 165px 0 735px;
    text-align: center;
    background-color: #FFFFFF;
}

.selected {
    position: absolute;
    width:417px;
    height: 50px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 285px 165px 0px 735px;
    text-align: center;
    background-color: #FFFFFF; 
    outline: 0 !important;
}

.btn-submit {
    position: absolute;
    width: 160px;
    height: 40px;
    background-color: #ED4C5C;
    padding: 16px 34px;
    color: #FFFFFF;
    margin: 372px 545px 0 735px ;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0088cc;
}

input {outline: 0 !important;}

.footer {
    display: flex;
    width: 1440px;
    height: 435px;
    top: 45px;
    background-color: #FAFAFA;
}

.address>h4 {
    position: absolute;
    text-align: center;
    margin: 85px 219px 0 166px;
    font-weight: bold;
    font-size: 16px;
    color: #101010;
}

.address>p {
    position: absolute;
    width: 254px;
    height: 54px;
    font-size: 12px;
    color: #101010;
    margin: 140px 0 240px 166px;
    text-align: left;
}

.services-list {
    position: absolute;
    width: 254px;
    height: 164px;
    margin: 85px 30px 0 450px;
}

.services-list>h4 {
    font-weight: bold;
    font-size: 16px;
    color: #101010;
    margin-bottom: 28px;
}

.services-list>p {
    color: #101010;
    font-size: 12px;
}

.telephone-info {
    position: absolute;
    width: 122px;
    height: 128px;
    margin: 85px 166px 0 735px;
}

.telephone-info>h4 {
    font-weight: bold;
    font-size: 16px;
    color: #101010;
    margin-bottom: 28px;
}

.telephone-info>p {
    color: #101010;
    font-size: 12px;
}

.we-support>h4 {
    position: absolute;
    margin: 85px 0 0 1022px;
    font-weight: bold;
    font-size: 16px;
    color: #101010; 
}

.we-support>img {
    position: absolute;
    margin: 130px 0 0 1022px;
}
