/*font-family: 'Roboto', sans-serif;*/

* {
    padding: 0;
    margin: 0;    
}

body {
    max-width: 1600px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);  
}

header {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    width: 49px;
    height: 35px;
    margin: 62px 120px 62px 240px;
    cursor: pointer;
}

.header-items {
    width: 322px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items>p {
    width: 322px;
    height: 30px;
    margin-left: 0px;
    text-decoration: none;
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.header-items>p:hover {
    color: blue;
    font-size: 20px;
}

.header-button {
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    border: 0;
    cursor: pointer;
}

.header-button:hover {
    background-color: green;
    opacity: 0.5;
    color: #fff;
}

.data-img {
    background-image: url(../image/img/image1.jpg);
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 336px;
} 

.data-tex>h1 {
    position: absolute;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 240px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: #212353;
}

.data-tex>p {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 474px;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
}

.data-tex>button {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 240px;
    top: 640px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.data-btn:hover {
    opacity: 0.5;
}

.storage-bank {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px;
}

.bank-img {
    width: 477px;
    height: 504px;
    margin-right: 50px;
}

.storage-bank-text {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;  
}

.text-h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #212353;
}

.bank-p {
    width: 474px;
    height: 170px;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
    line-height: 200%;
    margin-top: 40px;
}

.features {
    position: absolute;
    width: 1137px;
    height: 1002px;
    left: 220px;
    top: 1600px;
    padding-left: 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper-one {
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.wrapper-one>h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #212353
}

.wrapper-one>p {
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
    width: 584px;
    text-align: center;
}

.wrapper-two {
    width: 520px;
    height: 355px;
    left: 239px;
    top: 1843px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;
}

.wrapper-two-img {
    margin-right: 30px;
}

.wrapper-two-txt{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper-two-txt>h3 {
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    text-align: left;
}

.wrapper-two-txt>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5D68;
    padding-top: 20px ;
    text-align: left;
}

.btn-learn {
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    padding-top: 20px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.btn-learn:hover {
    opacity: 0.5;
    color: #212353;
}

.wrapper-three {
    width: 527px;
    height: 303px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;
}

.wrapper-three-img {
    margin-right: 30px;
}

.wrapper-three-txt{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper-three-txt>h3 {
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    text-align: left;
}

.wrapper-three-txt>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5D68;
    padding-top: 20px ;
    text-align: left;
}

.wrapper-four {
    width: 527px;
    height: 303px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;
}

.wrapper-four-img {
    margin-right: 30px;
}

.wrapper-four-txt{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper-four-txt>h3 {
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    text-align: left;
}

.wrapper-four-txt>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5D68;
    padding-top: 20px ;
    text-align: left;
}

.wrapper-five {
    width: 527px;
    height: 303px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;

}

.wrapper-five-img {
    margin-right: 30px;
}

.wrapper-five-txt{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.wrapper-five-txt>h3 {
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    text-align: left;
}

.wrapper-five-txt>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5D68;
    padding-top: 20px ;
    text-align: left;
}

.wrapper-container-first {
    display: flex;
    justify-content: space-between; 
    align-items: baseline ;  
}

.wrapper-container-second {
    display: flex;
    justify-content: space-between;
}

.container {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2700px;
    background: #9C69E2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 93px;
    padding-top: 109px;
}

.testimonials {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.blogger {
    border-radius: 20px;
    width: 949px;
    height: 330px;
    box-shadow:  0px 20px 0px rgba(80, 27, 155, 0.5);
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.person-info {
    width: 132.42px;
    height: 90px;
    margin: 60px 44px 180px 102px;
}

.blogger-info{
    width: 566px;
    height: 200px;
    margin: 80px 103px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-name {
    font-weight: 900;
    font-size: 18px;
    color: #212353;
}

.blogger-info>a {
    font-weight: 500;
    font-size: 14px;
    color: #9C69E2;
    cursor: pointer;
}

.blogger-info>p {
    font-weight: 400;
    font-size: 18px;
    color: #4B5D68;
}

.navigation {
    width: 949px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.blogger-info>a:hover {
    color: indigo;
    font-size: 18px;
}

#left-arrow {
    width: 40px;
    height: 14px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

#right-arrow {
    text-decoration: none;
    cursor: pointer;
}

.container-two {
    display: flex;
    justify-content: space-between;
}

.for-free {
    position: absolute;
    width: 584px;
    height: 101px;
    left: 240px;
    top: 3750px;
    margin-right: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-free>h2 {
    font-weight: bold;
    font-size: 40px;
    color: #212353;
}

.for-free>p{
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
}

.first-btn{
    position: absolute;
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    left: 947px;
    top: 3771px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.second-btn{
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1147px;
    top: 3771px;
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.first-btn:hover {
    opacity: 0.5;
}

.second-btn:hover {
    background-color: teal;
    opacity: 0.5;
}

.footer-content {
    position: absolute;
    width: 1117px;
    height: 408px;
    left: 240px;
    top: 4001px; 
    display: flex;
    justify-content: space-between;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#data-warehouse {
    width: 153px;
    height: 30px;
    font-weight: 900;
    font-size: 22px;
    color: #212353;
}

.street{
    font-weight: 500;
    font-size: 16px;
    margin-top: 60px; 
    color: #212353;
}

.street-ave {
    font-weight: 500;
    font-size: 16px; 
    color: #212353;
}

.nav {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: #212353;
    cursor: pointer;
}

.nav:hover {
    font-size: 18px;
    opacity: 0.7;
}

#data-warehouse:hover {
    font-size: 24px;
    opacity: 0.7;
}

.about{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about>ul>li {
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    color: #212353;
    list-style-type: none;
    cursor: pointer;
}

.about>ul>li:hover {
    font-size: 18px;
    opacity: 0.7;
}

ul{
    font-weight: 900;
    font-size: 20px;
    color: #212353;
}

.help>ul>li {
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    color: #212353;
    list-style-type: none;
    cursor: pointer;
}

.help>ul>li:hover {
    font-size: 18px;
    opacity: 0.7;
}

.media>p {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
    color: #212353;
} 

.media>a:hover {
    background-color: darkcyan;
}

.footer-end>p{
    position: absolute;
    width: 360px;
    height: 50px;
    left: 240px;
    top: 4354px; 
    font-size: 18px;
    color: #212353;
}

.footer-end>img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1297px;
    top: 4349px; 
}
